# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
CREATE TABLE JunkDB_KC.Dana.planned_makes (
    pattern_name VARCHAR (20) PRIMARY KEY,
    yarn_type VARCHAR (10) NOT NULL,
    No_skeins INT NOT NULL,
    end_product VARCHAR (20) NOT NULL
);

Add three rows to your table that are your planned makes.

In [4]:
INSERT INTO Dana.planned_makes (pattern_name, yarn_type, No_skeins, end_product)
VALUES ('Butterfly', 'acrylic', 1, 'applique');

INSERT INTO Dana.planned_makes (pattern_name, yarn_type, No_skeins, end_product)
VALUES ('Valentine Heart', 'acrylic', 1, 'applique');

INSERT INTO Dana.planned_makes
VALUES ('Log Cabin', 'wool', 14, 'blanket');

SELECT * FROM Dana.planned_makes;

pattern_name,yarn_type,No_skeins,end_product
Butterfly,acrylic,1,applique
Log Cabin,wool,14,blanket
Valentine Heart,acrylic,1,applique

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__planned___AF84FF97F6CD0BD1'. Cannot insert duplicate key in object 'Dana.planned_makes'. The duplicate key value is (Butterfly).

: Msg 2627, Level 14, State 1, Line 4
Violation of PRIMARY KEY constraint 'PK__planned___AF84FF97F6CD0BD1'. Cannot insert duplicate key in object 'Dana.planned_makes'. The duplicate key value is (Valentine Heart).

: Msg 2627, Level 14, State 1, Line 7
Violation of PRIMARY KEY constraint 'PK__planned___AF84FF97F6CD0BD1'. Cannot insert duplicate key in object 'Dana.planned_makes'. The duplicate key value is (Log Cabin).

## Update a Row

Change different values in one of your three rows.

In [5]:
UPDATE Dana.planned_makes
SET yarn_type = 'cotton'
WHERE pattern_name = 'Valentine Heart';

SELECT * FROM Dana.planned_makes;

pattern_name,yarn_type,No_skeins,end_product
Butterfly,acrylic,1,applique
Log Cabin,wool,14,blanket
Valentine Heart,cotton,1,applique

## Delete a Row

Delete one of the rows from your table.

In [7]:
DELETE FROM Dana.planned_makes
WHERE pattern_name = 'Butterfly';

SELECT * FROM Dana.planned_makes;

pattern_name,yarn_type,No_skeins,end_product
Log Cabin,wool,14,blanket
Valentine Heart,cotton,1,applique

## Drop the Table

While this has been fun, it is time to drop the table!

In [8]:
DROP TABLE Dana.planned_makes;